<div class="d-flex flex-column align-items-center">
  <h1>New Game</h1>
  <div class="d-flex m-5">
  <% @letters.each do |letter| %>
      <h2 class="m-3 letter"><%= letter %></h2>
  <% end %>
  </div>

  <form action="/games/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <p> quel est le mot le plus long que tu puisse écrire ?</p>
    <div class="form-group d-flex">
      <input type="text" class="form-control" id="word" name="word" placeholder="Your world" >
      <button type="submit" class="btn btn-warning">Play</button>
    </div>
  </form>
</div>
